*{
    margin: 0px;
    padding:  0px;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

.box-1{
  background-color: plum;
  border-width: 2px;
  border-style: solid;
  border-color: rebeccapurple;
  font-size: 50px;
  padding: 10px 20px 30px 40px;
  margin: 10px 20px 15px 12px;
  text-align: center;
}

nav ul{
    list-style: none;
    text-align:center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

nav ul li a:hover {
    background-color: white;
    color: #555;
}
nav{
    background-color: #555;
    padding-top: 5px;
    padding-bottom: 5px;
}
header{
    background-color: #333;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

header p{
    padding-top: 10px;
    font-size: 14px;
}

main section{
    background-color: #f9f9f9;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}

main  section p{
    padding-top: 15px;
    padding-bottom: 10px;
}
main article{
    background-color: #f9f9f9;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 14px;

}
main article p{
    padding-top: 15px;
    padding-bottom: 10px;
}

main aside{
    background-color: #f0f0f0;
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  
}

main aside ul{
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 10px;
}

footer{
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration-style: dotted;
    font-size: 14px;
}

footer p{
    padding-top: 10px;
    padding-bottom: 10px;
}